<header>
    <div class="header-icons">
        <svg data-tooltip="Home" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="header-icon" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
        </svg>

        <svg height="40px" width="40px" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" class="header-icon" viewBox="0 0 256 228.3" xml:space="preserve">
            <g>
                <path d="M143.5,56.8l9.4,1.3L152.7,44L137,41.8V30.7l16.1,2.7c-1.2-10.1-7.7-17.4-21.9-19.5 c-9,0.6-18.4,1.1-23.7,17.9c-1.6,6.7-0.6,13.4,3.5,19.2C124.3,43.6,134.3,48.6,143.5,56.8z" fill="#ffffff"></path>
                <path d="M43.1,137.3c-10.3,0-20,4-27.3,11.3c-7.3,7.3-11.3,17-11.3,27.3c0,0,0,0,0,0c0,10.3,4,20,11.3,27.3 c7.3,7.3,17,11.3,27.3,11.3s20-4,27.3-11.3c7.3-7.3,11.3-17,11.3-27.3c0-10.3-4-20-11.3-27.3C63.1,141.3,53.4,137.3,43.1,137.3z M61.6,194.4c-5,5-11.6,7.7-18.6,7.7s-13.6-2.7-18.6-7.7c-5-5-7.7-11.6-7.7-18.6c0,0,0,0,0,0c0-7,2.7-13.6,7.7-18.6 c5-5,11.6-7.7,18.6-7.7s13.6,2.7,18.6,7.7c5,5,7.7,11.6,7.7,18.6C69.3,182.9,66.6,189.5,61.6,194.4z" fill="#ffffff"></path>
                <path d="M241.8,148.6c-7.3-7.3-17-11.3-27.3-11.3s-20,4-27.3,11.3c-7.3,7.3-11.3,17-11.3,27.3c0,0,0,0,0,0 c0,10.3,4,20,11.3,27.3c7.3,7.3,17,11.3,27.3,11.3s20-4,27.3-11.3c7.3-7.3,11.3-17,11.3-27.3C253.1,165.6,249.1,155.9,241.8,148.6z M233.1,194.4c-5,5-11.6,7.7-18.6,7.7c-7,0-13.6-2.7-18.6-7.7c-5-5-7.7-11.6-7.7-18.6c0,0,0,0,0,0c0-7,2.7-13.6,7.7-18.6 c5-5,11.6-7.7,18.6-7.7c7,0,13.6,2.7,18.6,7.7c5,5,7.7,11.6,7.7,18.6C240.8,182.9,238.1,189.5,233.1,194.4z" fill="#ffffff"></path>
                <path d="M216.7,129.1c17.7-34.2-14.5-39.6-36.4-48.4c-0.2,2.4-0.4,4.9-0.6,7.3l-46.3-35c-6.3-3.4-13.3-4-21.6,1.1 c-6.3,5.7-33.8,41.7-40.7,54l40.2,0.2L135.4,75l40.1,30.7c-3.3,6.6-9.4,12.5-21,16.8c-1-4.9-3.1-8.9-9.7-9.1H28.7 c-2.9,2.5-5.4,9,0.5,15.6c23.9-0.7,67.4,1.9,58.8,60c26-1.3,64.3,3.3,77.1-13C171,145,187.8,129.4,216.7,129.1z" fill="#ffffff"></path>
                <circle cx="43.1" cy="175.9" r="8.5" fill="#ffffff"></circle>
                <circle cx="214.6" cy="175.9" r="8.5" fill="#ffffff"></circle>
            </g>
        </svg>

        <a href="/manufacturers">
            <svg viewBox="0 0 24 24" height="40px" width="40px" class="header-icon" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M2.92444 4.12856C2.98896 2.93485 3.9757 2 5.17116 2H6.32894C7.52439 2 8.51114 2.93485 8.57566 4.12856L9.4135 19.6286C9.48315 20.917 8.45714 22 7.16678 22H4.33332C3.04296 22 2.01695 20.917 2.0866 19.6286L2.92444 4.12856ZM5.17116 3.5C4.77267 3.5 4.44376 3.81162 4.42225 4.20952L3.58441 19.7095C3.5612 20.139 3.9032 20.5 4.33332 20.5H7.16678C7.5969 20.5 7.9389 20.139 7.91568 19.7095L7.07785 4.20952C7.05634 3.81162 6.72742 3.5 6.32894 3.5H5.17116Z" fill="#ffffff"></path>
                    <path d="M9.51184 22H19.75C20.9926 22 22 20.9927 22 19.75V6.00002C22 5.69946 21.8205 5.42792 21.544 5.31007C21.2675 5.19223 20.9474 5.25083 20.7306 5.45898L15.75 10.2404V6.00002C15.75 5.70947 15.5821 5.44506 15.3192 5.32137C15.0563 5.19768 14.7456 5.23698 14.5218 5.42222L9.85566 9.28385L9.9564 11.1475L14.25 7.59424V12C14.25 12.3006 14.4294 12.5721 14.7059 12.69C14.9824 12.8078 15.3025 12.7492 15.5194 12.5411L20.5 7.75968V19.75C20.5 20.1642 20.1642 20.5 19.75 20.5H18.75V16C18.75 15.0335 17.9665 14.25 17 14.25H13C12.0335 14.25 11.25 15.0335 11.25 16L11.25 20.5H10.33C10.1946 21.0724 9.90723 21.5879 9.51184 22ZM17.25 16V20.25H12.75L12.75 16C12.75 15.8619 12.8619 15.75 13 15.75H17C17.1381 15.75 17.25 15.8619 17.25 16Z" fill="#ffffff"></path>
                </g>
            </svg>
     </a>
        
    </div>
</header>


    
    

    